<a href="https://colab.research.google.com/github/thinkinpython/Python-course/blob/main/Python_Basics_Exercices_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises \#2 - Basics in Python

This notebook contains a short theoretical recap, followed by exercises
based only on the concepts covered so far.

## Theoretical recap (quick reminder)

- Python executes code **line by line**, from top to bottom.
- `print()` is used to **display information** on the screen.
- Comments start with `#` and are **ignored by Python**.
- Variables store values using the assignment operator `=`.
- Common basic types are: `int`, `float`, `str`, `bool`, `None`.
- Mathematical operations follow standard rules:
  - `+ - * / // % **`
  - `/` always returns a float
- Strings represent text:
  - written inside quotes
  - support concatenation (`+`) and repetition (`*`)
  - `len()` returns their length
  - indexing starts at 0
- `input()` allows the user to enter data and **always returns a string**.
- Type conversion is done with `int()`, `float()`, `str()`, `bool()`.

### Exercise 1 — Print formatting

Write a program that:
- prints the numbers 2025, 9 and 21 on the same line
- separates them with `/`

In [ ]:
print(2025, 9, 21, sep="/")

2025/9/21

### Exercise 2 — Updating variables

Write a program that:
- stores a number in a variable
- increases its value by 5
- prints the final value

In [ ]:
number = 10
number = number + 5

print(number)

15

### Exercise 3 — String operations

Write a program that:
- asks the user for a word
- prints the word repeated 3 times on the same line
- prints the length of the word

In [ ]:
word = input("Enter a word: ")

print(word * 3)
print(len(word))

Enter a word: ha
hahaha
2

### Exercise 4 — Mixed types

Write a program that:
- stores a year in a variable
- converts it to a string
- prints a sentence containing that year

In [ ]:
year = 2025
year_str = str(year)

print("The year is " + year_str)

The year is 2025

### Exercise 5 — Integer division and remainder

Write a program that:
- asks the user for two integers
- prints the integer division result
- prints the remainder

In [ ]:
a = input("Enter the first integer: ")
b = input("Enter the second integer: ")

a = int(a)
b = int(b)

print(a // b)
print(a % b)

Enter the first integer: 10
Enter the second integer: 2
5
0

### Exercise 6 — Simple price calculation

Write a program that:
- asks the user for a price
- converts the input to a float
- prints the price with VAT (VAT = 21%)

In [ ]:
price = input("Enter the price: ")
price = float(price)

price_with_vat = price * 1.21

print(price_with_vat)

Enter the price: 48.99
59.2779

### Exercise 7 — Final combined exercise

Write a program that:
- asks the user for their name
- asks the user for a number
- converts the number to an integer
- prints the square of the number
- prints a sentence including the user's name and the result

In [ ]:
name = input("Enter your name: ")
number = input("Enter a number: ")

number = int(number)
square = number ** 2

print(square)
print(name, "your number squared is", square)

Enter your name: Theo
Enter a number: 25
625
Theo your number squared is 625