# Exercises \#1 - Basics in Python

This notebook contains a short theoretical recap, followed by exercises
based only on the concepts covered so far.

## Theoretical recap (quick reminder)

- Python executes code **line by line**, from top to bottom.
- `print()` is used to **display information** on the screen.
- Comments start with `#` and are **ignored by Python**.
- Variables store values using the assignment operator `=`.
- Common basic types are: `int`, `float`, `str`, `bool`, `None`.
- Mathematical operations follow standard rules:
  - `+ - * / // % **`
  - `/` always returns a float
- Strings represent text:
  - written inside quotes
  - support concatenation (`+`) and repetition (`*`)
  - `len()` returns their length
  - indexing starts at 0
- `input()` allows the user to enter data and **always returns a string**.
- Type conversion is done with `int()`, `float()`, `str()`, `bool()`.

### Exercise 1 — Simple print

Write a program that:
- prints your name
- prints your age
- prints the result of 5 + 7

In [ ]:
print("Theo")
print(30)
print(5 + 7)

Theo
30
12

### Exercise 2 — Variables and operations

Write a program that:
- stores two numbers in variables
- prints their sum
- prints their product
- prints their division

In [ ]:
a = 10
b = 5

print(a + b)
print(a * b)
print(a / b)

15
50
2.0

### Exercise 3 — Strings

Write a program that:
- stores a word in a variable
- prints the word
- prints the length of the word
- prints the first and the last character of the word

In [ ]:
word = "Python"

print(word)
print(len(word))
print(word[0])
print(word[-1])

Python
6
P
n

### Exercise 4 — User input (text)

Write a program that:
- asks the user for their first name
- asks the user for their city
- prints a sentence using both inputs

In [ ]:
first_name = input("Enter your first name: ")
city = input("Enter your city: ")

print("Hello", first_name, "from", city)

Enter your first name: Theo
Enter your city: Toronto
Hello Theo from Toronto

### Exercise 5 — User input (numbers)

Write a program that:
- asks the user for their age
- converts the input to an integer
- prints the age next year

In [ ]:
age = input("Enter your age: ")
age = int(age)

print(age + 1)

Enter your age: 30
31

### Exercise 6 — Calculations with input

Write a program that:
- asks the user for two numbers
- converts both inputs to floats
- prints their sum and their average

In [ ]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

num1 = float(num1)
num2 = float(num2)

print(num1 + num2)
print((num1 + num2) / 2)

Enter the first number: 3.6
Enter the second number: 4
7.6
3.8

### Exercise 7 — Small combined exercise

Write a program that:
- asks the user for their name
- asks the user for their year of birth
- converts the year to an integer
- computes the age in 2025
- prints a clear sentence with the result

In [ ]:
name = input("Enter your name: ")
birth_year = input("Enter your year of birth: ")

birth_year = int(birth_year)
age = 2025 - birth_year

print(name, "will be", age, "years old in 2025")

Enter your name: Theo
Enter your year of birth: 1993
Theo will be 32 years old in 2025